apiVersion: v1
kind: Service
metadata:
  name: loadbalancer-eureka
spec:
  selector:
    app: server
  ports:
  - port: 8081
    targetPort: 8081
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  name: loadbalancer-gateway
spec:
  selector:
    app: gateway
  ports:
  - port: 8082
    targetPort: 8082
  type: LoadBalancer
